.bg-color-panel{
  background-color: #5CB85C;
}
.list-md {
   background: transparent !important;
}
.heigth-head{
  height: auto;
}

.icono-politica{
  font-size: 20px;
  color: rgba(14, 14, 93, 0.831);
}

.text-mini{
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.title-noticias{
  font-size: 20px;
  font-weight: 700;
}
