<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SENA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

  <div class="bg-color-panel heigth-head">
    <ion-list  color="transparent">
      <ion-item  color="transparent" lines="none">
          <ion-button *ngFor="let cat of listCategorys" class="" color="success">{{cat.name}}</ion-button>
      </ion-item>
    </ion-list>
  </div>

 <ion-list>
  <ion-item lines="">
    <div class="ion-text-center">
      <ion-title color="success">Noticias</ion-title>
    </div>

  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card  *ngFor="let notis of listNoticias" (click)="Navigate(notis)">
            <ion-card-content  >
              <ion-grid fixed >
                <ion-row >
                  
                  <ion-col size="6" color="success" >
                      <img src="{{notis.url_imag}}" alt="" >
                  </ion-col>
                  <ion-col size="6">
                    <ion-text color="primary">
                      <h3>{{notis.title}}</h3>
                      <p>{{notis.text_small}}</p>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-item>
 </ion-list>
</ion-content>
